.wrapper {
    margin-top: 60px;
}

.list-movie {
    margin-top: 10px;
    padding: 25px;
    background: #0c2738;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.info {
    border: 1px solid #e0a80b;
    padding: 25px;
    margin-top: 40px;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}
